/* index html */

.banner {
    background-image: url('../img/banner.png');
    border-left: 45px solid white;
    border-right: 45px solid white;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /*margin: 0 auto;*/
    /* padding-top: 50px;
    align-items: baseline; */
}
.banner-txt {
    font-size: 20px;
    color: azure;
    margin: 0px 0px 50px 20px;
    align-items: flex-start;
}
a:visited {
    color: white;
  }
.nav-ul {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    /* align-items: flex-start; */
    
    
}
.nav-li {
    color: rgb(251, 251, 251);
    font-size: 20px;
    margin-right: 68px;
}

.nav-ul li:first-child {
    margin-left: 20px;
}

.nav-li a{
    color: white;
}


/* ---------------here starts contact page css----------- */

.contact {
    background-image: url('../img/contact-bkgr.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 900px;
    height: 900px;
    align-items: center;
    position: relative;
}
.contact-satauri {
    position: absolute;
    top: 400px;
    left: 300px;
    font-size: 18px;

}
.misamarti{
    font-size:15px;

}
a{
    color:#ff4d4d;
}

